body {overflow-x: hidden;}
#section_control {
    position: fixed;
    left: 0; top: 0; bottom: 0;
    width: 320px;
    background: #504d4d;
    color: #ffffff;
    margin: 0; z-index: 1;
    padding-right: 30px;
}

#section_control .logo {margin-bottom: 25px}
#section_control .item {background: none; font-size: 0.99em; margin: 0; padding:0.9em 0; border-bottom: white solid 1px; display: block; color: #ffffff; transition:all 0.2s ease; -webkit-transition: all 0.2s ease}
#section_control .item:first-child {border-top: white solid 1px; margin-top:25px}
#section_control .item:hover {background: #787575; color: #f1eab1; cursor: pointer}
#section_control .item.current {background: #71706f; color: #f1eab1}
#content {
    width: 100%;
    max-width: 100%; 
    min-height: 1200px; 
    position: absolute;
    top:0;
    z-index: 5;
    margin-left: 0;
    background: #f7f6f5;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease ;
    -ms-transition: all 1s ease ;
    -o-transition: all 1s ease ;
    transition: all 1s ease ;
}
#content.slided {
    box-shadow: -4px 1px 10px rgba(0,0,0,0.166);
    width: 90%;
    margin-left: 300px;
    margin-right: 0;
}
#section_switcher:hover {cursor: pointer}

.item {display: inline-block; margin: 8px; background: #ffffff; padding: 6px 11px; font-size: 1.4em; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.disabled {opacity: 0.3}
.disabled:hover {background: #ffffff !important; cursor: default !important; color: black !important; }
.disabled .fa:hover {color: #AAA !important;}


.cart-item {background:#ffffff;position: relative; display: inline-block;padding-bottom: 15px; width: 28%; padding: 1%; min-height: 230px; margin: 1%; float: left;overflow: hidden; transition:all 0.3s ease;-webkit-transition:all 0.3s ease}
.cart-item:hover {box-shadow: 0 2px 6px rgba(0,0,0,0.33);cursor: default}
.order-overlay.showed {
    position: absolute;
    background: url('/img/ajax-loader.gif') no-repeat;
    background-position: center center;
    background-color: rgba(255,255,255,0.9);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.minimalicbutton {min-width: 50px}

#left-column {
    width: 15%;
    margin: 25px 2% 0 1%;
    font-size: 0.8em;
}

#right-column {
    min-height: 700px;
    min-width: 700px;
    width: 76%;
    z-index: 1;
    padding-top: 3px;
    margin: 0;
}

#navigation {margin: 0px 0 15px 0}

.item-image {width: 100%;border-radius: 6px 6px 0 0;}
.cart-item h3 {min-height: 50px; line-height: 1.1;width: 90%;margin: 0 5%}
.item-count {margin-top: 10px;clear: both;display: block}
.item-total {color: #e6373c;font-size: 36px}
.black {color: black ; font-size: 28px}

.items {width: 100%}
.items tr td {font-size: 1em}

.order_values_id {position: absolute;right: 10px;top: 4px;font-weight: bold;font-size: 28px;color: slateblue}
.nav-item {padding: 3px 8px}
.nav-item:hover {background: #ffffff;cursor: pointer}
.nav-item.current {background: #e6373c;color: #ffffff}
/* ORDER color markers */

.new { border: green dashed 3px; background: #ffffff }
.completed { border: #6792d9 solid 3px }
.processing {border: gold solid 3px}
.cancelled { border: lightcoral solid 3px; }

/* SHIFTS */

.shift-label {}
.shift-label.current {background: #f8f8f8}

label {display: block; font-size: 0.8em}

form {margin: 0}

input, select, textarea {
    border: silver solid 1px;
    border-radius: 2px;
    padding: 4px 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
    font-family: 'Roboto';
    font-size: 0.95em;
}

input:focus {outline: none}

.edit {font-size: 0.6em; opacity: 0.3; float: right; color: #666666; position: relative; top: 3px}
.item small {font-size: 0.5em; color: gray}
.item .del {float: left; color: gray; font-size: 0.6em; opacity: 0.3}
.edit:hover, .item .del:hover  {cursor: pointer; opacity: 1}

.checkbox {background: none; float: left; min-width: 166px; font-size: 1.2em;}
.checkbox:hover, .checkbox.selected {cursor: pointer; font-weight: bold}
.checkbox .fa { opacity: 0; margin-right: 8px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease;}
.checkbox.selected .fa {opacity: 1}

.floatform { overflow-y: scroll; position: fixed; min-width: 800px; max-width: 70%; max-height: 85%;  padding: 1%; top: 0; left: 0; margin: 5% 15%; background: #ffffff; z-index: 9; border: silver solid 1px; box-shadow: 0 1px 14px rgba(0,0,0,0.34)}
.floatform h2 {margin-bottom: 30px}
.floatform h2 .fa {margin-right: 5px}

@media all and (max-device-width: 1367px){
    .floatform {font-size: 0.82em; max-width: 95%; margin: 0; left: 5%; right: 2%; top: 2%; bottom: 18%}
    .floatform h2 {margin-bottom: 15px}

    .formControls {
        position: fixed;
        bottom: 0;
        background: rgba(255,255,255,0.66);
        right: 0;
        left: 0;
        padding: 0 0 2% 2%;
        box-shadow: 0 -1px 9px rgba(0,0,0,0.36);
    }
}

