/* basic CSS reset */
body, h1,h2,h3,h4,h5,h6 {margin: 0}
a {text-decoration: none; color: #000000}
img {border: none}

/* main Framework styles */
.flexible {max-width: 100%}
.clearfix {clear: both;}

.transparent {opacity: 0}
.hidden {display: none}
.overlined {text-decoration: line-through}
.row {
    clear: both;
    display: block;
}

.odd {
    background:rgba(0,0,0,0.2);
    color: white;
}

.odd a {color: #000000;}

.odd .hint {text-align: right;}

/* layout */

.left-sided {float: left;}

.right-sided {float: right;}

.centered {
    float: none;
    margin: 0 auto;
    display: block;
}

.box800 {max-width: 800px;}

.box1000 {max-width: 1000px;}

.box5p, .box10p, .box20p, .box25p, .box30p, .box33p, .box34p, .box40p, .box50p, .box60p, .box66p, .box70p, .box75p, .box80p, .box90p  {
    display: inline-block;
    min-height: 1px;
    float: left;
}

.box5p {width: 5%;}

.box10p {width: 10%;}

.box20p {width: 20%;}

.box25p {width: 25%;}

.box30p {width: 30%;}

.box33p {width: 33%;}

.box34p {width: 34%;}

.box40p {width: 40%;}

.box50p {width: 50%;}

.box60p {width: 50%;}

.box66p {width: 66%;}

.box70p {width: 70%;}

.box75p {width: 75%;}

.box80p {width: 80%;}

.box90p {width: 90%;}

.box100p {width: 100%;}

.circled {border-radius: 50%;}

.shadowed-small {box-shadow: 0 1px 2px black;}

.shadowed-small-inset {box-shadow: 0 1px 2px black inset;}

/* text align */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-centered {
    text-align: center;
}

.nomargin {margin: 0}

.nopadding {padding: 0}

/* colors control */

.color-white > * {
    color:  white;
}