.product {
    display: inline-block;
    width: 32%;
    margin: 1% 0.5%;
    float: left;
}

.product:hover {
    cursor: default;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.product:hover > .product-image {
    box-shadow: 0 1px 6px rgba(0,0,0,0.8);
}

.hoverable {
    width: 31%;
    padding: 9px 6px;
    border-radius: 2px;
}

.hoverable:hover {
    background: white;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

    float: left;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    border: black solid 4px;
    border-right: none;
    border-bottom: none;
    margin-right: 10px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.product-image img {
    width: 130%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
}

.product-addictional-icon {
    width: 25px;
    position: absolute;
    margin-top: 0;
    margin-left: 13px;
}

.product-name {
    margin: 10px 0 6px 0;
    line-height: 0.95;
}

.product-details {
    display: inline-block;
    float: left;
    max-width: 160px;
    font-size: 0.9em;

}

.product-description {
    font-size: 0.85em;
    padding-left: 10px;
    margin: 0;
}

.product-ingredient {
    float: left;
    border: darkslategray solid 1px;
    border-radius: 4px;
    padding: 0px 3px 2px 3px;
    margin: 1px;
    font-size: 0.66em;
    line-height: 1.2;
}

.product-ingredient:hover {
    cursor: default;
    background: black;
    color: white;
}

.product-price {
    clear: both;
    padding: 0;
    font-size: 1.6em;
    color: #e6373c;
}

.product-price-value {font-size: 1.2em}

.button-add-product-to-cart {
    border: #e6373c solid 1px;
    border-radius: 50%;
    padding: 0 7px 2px 7px;
    line-height: 0.5;
    font-size: 0.7em;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button-add-product-to-cart:hover {
    background: #e6373c;
    color: white;
}

/*  */

.product:hover {
    color: darkslategray;
    cursor: pointer;
}

.product:hover > .product-image {
    border-color: #e6373c;
}

.product:hover > .product-image img {

}
.requested {
    margin-top: 15px;
    font-size: 12px;
}

/* responsive CSS */
/* small screens */

/* tablets */
@media screen and (max-width: 1000px) {

.product {
    width: 31%;
    margin: 1%;
    font-size: 0.9em;
}

.product-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    float: none;
}

.product-image img {
    margin: 5% 3% ;
}

.product-details {
    width: 100%;
    display: block;
    text-align: center;
    float: none;
    max-width: none;
}
.product-price {
    width: 100%;
    font-size: 1.45em;
}

    .product-description {
        text-align: center;
        display: block;
        float: none !important;
    }
    .product-description span {
        text-align: center;
        display: block;

    }
    .product .quickAddToCart {
        top: -2px;
        margin-left: 6px;
    }
.product-ingredients-list {
    clear: both;
    margin: 0 auto;
}

}

@media screen and (max-width: 1279px) {

}
