#content {
    padding-top: 0px;
}

.product-preview:hover {
    cursor: default;
}

.product-preview {
    width: 74%;
    min-width: 450px;
    margin-top: 50px;
    font-size: 1.2em;
    position: relative;
}

.product-preview .product-details{
    max-width: 32%;
    margin-right: 1%;
    margin-top: 18px;
}

.product-preview .product-image {
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 50%;
    border: black solid 4px;
    border-right: none;
    border-bottom: none;
    margin-right: 6%;

}

.product-preview .product-image img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease ;
    -ms-transition: all 2s ease ;
    -o-transition: all 2s ease ;
    transition: all 2s ease ;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    width: 100%;
}

.product:hover > .product-image {
    box-shadow: none;
    border-color: black;
}

.product-image:hover > img {
width: 150%;
}   

.product-addictional-icon {
    width: 44px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-right: 15px;
    float: right;
}

.product-preview .product-description {
    float: left;
    margin-top: 10px;
    font-size: 1em;
    background: white;
    border: silver solid 1px;
    border-radius: 38px;
    padding: 0px 13px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.33) inset;}

.product-preview .product-description span {
      display: inline-block;
    float: left;
    margin: 5px 3px;
}

.product-preview .product-description span img {float: left; position: relative;}

#product-weight {margin: 5px 8px 0 0;}
#product-viewed {margin: 2px 4px 0 0;}

.product-ingredients-list {
    max-width: 240px;
}

.floating_block {
    display: inline-block;
    max-width: 15.5%;
    border-radius: 4px;
    border: silver solid 1px;
    text-align: center;
    padding: 1% 3%;
    float: left;
    margin: 0 0 10px 2%;
    background: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
.floating_block p {
    line-height: 1.1;
}

.floating_block p strong {line-height: 1.22}
#how_to_order {
    margin-top: 50px;
}

#how_to_order strong {
    display: block;
    padding-top: 8px;
}

.minimalicbutton {margin-top: 25px}

#addToCartButton {position: relative;z-index: 1;}

#addToCartButton:active {outline: none}
/*  */

#addToCartButton_response {
    text-align: center;
    color: #e6373c;
    background: white;
    padding: 8px 8px 6px 9px;
    position: absolute;
    z-index: 10;
    border-radius: 6px;
    border: #e6373c dotted 2px;
    opacity: 0;
    width: 40%;
    margin: 0 auto;
    display: block;
    box-shadow: 0 5px 13px rgba(0,0,0,0.66);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease ;
    -ms-transition: all 0.6s ease ;
    -o-transition: all 0.6s ease ;
    transition: all 0.6s ease ;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    top: 40%;
    left: 5%;
}
#addToCartButton_response.visible {
    opacity: 1;
    top: 40%;
    left: 5%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}


.product-preview .product-price {
    font-size: 2em;
}

/* responsive css */
/* tablets */
@media screen and (max-width: 1307px) {

    .product-preview .product-image {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        background: white;
        float: none;
        display: inline-block;
        border-right-color: #000000;
        border-right: black solid 3px;
    }

    .product-preview .product-details {
        max-width: 40%;
    }
    .product-preview .product-details .product-name {
        font-size: 1.5em;
    }
    .product-ingredients-list {
        max-width: 100%;
        display: block;
    }

    .floating_block {
        max-width: 35%;
    }

    #addToCartButton {}
}


/* smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .product-preview {
        width: 100%;
        min-width: 0;
        margin-top: 10px;
        font-size: 1em;
    }

    .product-preview .product-image {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        background: white;
        border-right: black solid 3px;
    }
    .product-preview .product-details {
        width: 105%;
        max-width: none;
        margin: 0;
        background: rgba(255,255,255,0.87);
        margin-top: -75px;
        margin-left: -3%;
        padding: 21px 0;
        clear: both;
        float: left;
    }
    .product-name {
        margin-top: 0;
    }
    .product-preview .product-description {
        width: auto;
        margin: 0 15%;
        display: inline-block;
        text-align: center;
    }

    #annotation {
        display: block; font-size: 11px; float: none; padding-left: 0;
    }

    #product-weight {
        margin: 3px 8px 0 0;
    }
    #product-viewed {
        margin: 0px 4px 0 0;
    }
    .product-ingredients-list {
        width: 80%;
    }
    .product-addictional-icon {z-index: 2}
    .product-preview .product-ingredient { float: none; display: inline-block;}
    #addToCartButton_response {z-index: 2}
    .floating_block {
        margin-top: 1px;
        max-width: 90%;
        display: block;}
}

