@font-face {
    font-family: 'Roboto';
    src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Rouble';
    src: url('fonts/rouble.ttf');
}

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.hidden {display: none}

img {
    border: none;
}

#left-column .accordion.showed {display: block}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
}

body {
    text-align: center;
    background: #f7f6f5;
    min-width: 960px;
}

.clearfix {
    clear: both;
}

.color-white, .color-white * {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

header {
    float: left;
    width: 100%;
}

#logo {
    margin: 8px 10px 10px 15px;
    float: left;
    width: 160px;
}

#logo img {
    width: 100%;
}

#header-container {
    margin: 0 auto;
    max-width: 1360px;
    min-height: 130px;
    position: relative;
}

.header-block {
    display: inline-block;
    float: left;
    margin-top: 35px;
    line-height: 1.15;
}

.header-block h2, .header-block h3 {
    margin: 0;
}

#header-promo {
    margin-left: 50px;
    margin-right: 15px;
    font-size: 1em;
    color: #e6373c;
    margin-top: 38px;
    text-align: left;
}

.header-contacts {
    margin-left: 40px;
    font-size: 0.9em;
    text-align: left;
    width: 49%;
}

.header-contacts .time {
    font-size: 1.3em;
    color: #71706f;
    margin-left: -2px;
}

.box33p {
    width: 33%;
    float: left;
}

.box25p {
    width: 25%;
    float: left;
}

.worktime {
    margin-top: 6px;
}

.header-block .small {
    margin: 0;
    margin-top: 4px;
    font-size: 0.8em;
}

#cart {
    float: right;
    margin-top: 40px;
    position: absolute;
    right: 1%;
}

#cart img.cart-icon {
    margin: 0 4px;
    width: 21px;
}

nav {
    max-width: 1330px;
    margin: 15px auto 0 auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
    border: silver solid 1px;
    padding: 0;
    text-align: center;
    background: white;
    clear: both;
}

nav a {
    margin: 4px 6px;
    text-decoration: none;
    color: black;
    padding: 6px 14px 7px 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 4px;
    display: -webkit-inline-box;
}

nav a:first-child {

}

nav a:hover, nav a.current {
    background: #e6373c;
    color: white;
}

#banner-container {
    display: block;
    float: left;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

#banner {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
}

#banner img {
    width: 100%;
}

#content {
    clear: both;
    margin: 0 auto;
    max-width: 1360px;
}

#left-column, #right-column {
    float: left;
    display: inline-block;
    text-align: left;
}

#left-column {
    max-width: 300px;
    width: 20%;
    margin: 25px 2% 25px 1%;
}

.leftside_promo * {
    max-width: 100%;
}

.accordion {
    width: 100%;
    display: inline-block;
    border-radius: 6px;
    background: rgba(255,255,255,0.6);
    border: solid silver 1px;
    overflow: hidden;
    margin-bottom: 15px;
}

#right-column {
    min-height: 700px;
    min-width: 700px;
    width: 76%;
    margin: 25px 0 0 0;
}

.breadcrumbs {
    border: silver solid 1px;
    border-left: none;
    padding: 3px 0px;
    font-size: 0.9em;
    border-radius: 3px;
    margin-top: 5px;
    overflow: hidden;
}

.breadcrumbs a {
    text-decoration: none;
    background: white;
    border-right: silver solid 1px;
    border-left: silver solid 1px;
    padding: 3px 6px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.breadcrumbs a:hover {
    background: #e6373c;
    color: white;
    text-shadow: 0 1px 2px black;
}

.button {
    background: none;
    border: silver solid 1px;
    font-size: 16px;
    text-transform: uppercase;
    color: silver;
    padding: 8px 14px;
    border-radius: 6px;
    margin-top: 25px;
}

.minimalicbutton {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-width: 170px;

    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.66);
    border: #e6373c dotted 1px;
    border-radius: 4px;
    padding: 8px 14px;
    display: inline-block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;

    background: rgb(230,55,60); /* Old browsers */

}

.minimalicbutton:hover {
    color: #ffffff;
    cursor: pointer;
    background: #dd0700;
}

.minimalicbutton:active { background: red; }

.minimalicbutton .fa {margin-right: 5px}

#slider {
 padding-top: 10px;
    max-width: 1330px;
    margin: 0 auto;
}

.flexslider {
    margin: 0;
    max-width: 1330px;
}

footer {
    text-align: left;
    clear: both;
    float: left;
    width: 100%;
    border-top: black solid 3px;
    min-height: 140px;
    background: #f8f8f8;
    margin-top: 1em;
    padding-top: 1em;
}

footer p {margin: 0}

#left-column .blocklist-head {
    padding: 0px;
    display: block;
    font-size: 18px;
    margin: 0;
    background: white;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#left-column .blocklist-head:hover {
    cursor: pointer;
    color: #e6373c;
}

#left-column .blocklist-head .expander {
    display: inline-block;
    padding: 11px 0 11px 7%;
    width: 70%;
}

.blocklist-head a {
    float: right;
    color: gray;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    display: inline-block;
    width: 20%;
    padding: 13px 0;
}

.blocklist-head a:hover {
    color: black;
    text-decoration: underline;
}

.expanded {
    background: white;
}

.blocklist {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: silver solid 1px;
    font-size: 0.9em;
}
.blocklist li a {
    margin: 0;
    text-decoration: none;
    display: block;
    padding: 5px 10px 5px 20px;
    border-bottom: silver solid 1px;
    position: relative;
}

.blocklist li:hover {
    background: white;
}

.horizontal-content {
    max-height: 380px;
}

.small-link {
    font-size: 13px;
    text-decoration: none;
    padding: 3px 6px;
}
.small-link:hover {
    background: white;
}

#counters {
    display: inline-block;
    float: left;
    margin: 12px 0;
}

/* PRODUCT GROUPS STYLES */

#groups {

}

.group-container {
    color: white;
    min-height: 100px;
    padding: 1% 2%;
    background: url('/img/linen.jpg') repeat;
    width: 96%;
    border: gray solid 1px;
    border-radius: 8px;
    margin: 12px 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.group-container .group-heading {
    display: block;
    margin: 5px 0px 10px 2px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px black;
    color: white;
    font-size: 18px;
    border-bottom: rgba(255,255,255,0.2) solid 1px;
    padding-bottom: 5px;
}

.group-container .product {
    color: white;
    text-shadow: 0 1px 2px black;
}

.group-container .product-ingredient {
    border: white solid 1px;
    text-align: center;
}

.group-container .product:hover {
    color: #f1eab1;
}

#summerTime {
    display: none;
    clear: both;
/*    background: url('/img/grass_120.png') repeat-x;
    height: 125px;
    background-position: bottom center; */
}

.product-description span {
    display: block;
}

.quickAddToCart {float: right; text-align: center;border-radius: 4px;padding-right: 1px;position: absolute; right: 4px; }
.quickAddToCart:hover {background: #e6373c;color: white;cursor: pointer}

.product .quickAddToCart {
    position: relative;
    float: left;
    padding: 4px 8px;
    border: #e6373c dotted 2px;
    line-height: 1.2;
    font-size: 1em;
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease ;
    -ms-transition: all 0.5s ease ;
    -o-transition: all 0.5s ease ;
    transition: all 0.5s ease ;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.product .quickAddToCart:hover {
    display: inline;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    
}

.product .quickAddToCart:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
}

.product .quickAddToCart span {display: none}

.product-ingredients-list {clear: both}

.rub {
    font-family: Rouble;
}

.product-price {
    margin: 0;
}
#header-annotation {
   font-size: 0.7em; padding-top: 6px
}

#menu_controller {display: none}

#minicart_productCount {}

#annotation {
    display: block; font-size: 11px; float: left; padding-left: 5%;
}


#mobile_nav_toggle {
    position: fixed;
    background: #e84728;
    width: 36px;
    height: 30px;
    padding: 11px 12px 19px 12px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
    bottom: 3%;
    right: 6%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.36);
    z-index: 99;
    display: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease ;
    -ms-transition: all 0.6s ease ;
    -o-transition: all 0.6s ease ;
    transition: all 0.6s ease ;
}

#mobile_nav_toggle.hidden {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#mobile_nav_container {
    position: fixed;
    z-index: 99;
    background: rgba(0, 0, 0, 0.87);
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: scroll;
    padding: 0;
    left: -100%;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in ;
    -ms-transition: all 0.6s ease-in ;
    -o-transition: all 0.6s ease-in ;
    transition: all 0.6s ease-in ;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    box-shadow: 0 8px 2px rgba(0,0,0,0.3);
}

#mobile_nav_container.active {
    left: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#mobile_nav_container .menu.items .item {
    width: 20.65%;
    float: left;
    border: rgba(255, 255, 255, 0.47) solid 1px;
    margin: 2% 2%;
    padding: 5% 4%;
    font-size: 0.81em;
    display: inline-block;
    word-break: break-word;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-transition: all 2.4s ease;
    -moz-transition:    all 2.4s ease ;
    -ms-transition:     all 2.4s ease ;
    -o-transition:      all 2.4s ease ;
    transition:         all 2.4s ease ;
    background: black;
}
#mobile_nav_container .menu.items .item:hover {
    z-index: 999;
}
#mobile_nav_container .menu.items .item:focus {
    -webkit-transform: scale(10.1);
    -moz-transform:    scale(10.1);
    -ms-transform:     scale(10.1);
    -o-transform:      scale(10.1);
    transform:         scale(10.1);
    filter: blur(4px);
    background: #e84728;
    z-index: 999;
}

#mobile_nav_container .toggler {
    position: absolute;
    left: 5%;
    top: 3%;
}

#mobile_nav_container .content .footer {
    background: #2b2b2b;
    clear: both;
    padding: 5%;
    margin-top: 50px;
    float: left;
    width: 90%;
    text-align: left;
}
#mobile_nav_container .content .footer p.h3 {font-size: 0.8em}

#mobile_nav_container .content .footer .nav {
    margin-left: 3%;
}
#mobile_nav_container .content .footer a {font-size: 1.2em; display: block; line-height: 1.72em }

#mobile_nav_container .float_cart {
    position: absolute;
    right: 5%;
    color: white;
    top: 2%;
    font-size: 1.3em;
}

#weAccept {
    background: white;
    font-size: 0.8em;
    margin-top: 1em;
    padding: 4px;
}

/* responsive CSS */
/* tablets */
@media screen and (max-width: 1024px) {
    header {
        width: 100%;
    }
    #header-promo{
        margin-left: 13%;
    }
    .header-block .small {
        margin-top: 2px;
    }
    nav {
        position: relative;
        margin: 0;
        max-width: 960px;
        width: 100%;
        min-width: 700px;
    }
    #logo {
        margin: 15px 0px 5px 25px;
    }
    #content {
        width: 100%;
    }
    #main {
        width: 100%;
    }
    #banner-container {
        width: 100%;
    }
    #total-container {
        right: 0;
        width: 260px;
        text-align: left;
    }
}

/* notebooks*/
@media screen and (max-width: 1281px) {
    nav, #slider {
        max-width: 98%;
    }
    .product-description {
        font-size: 0.8em;
    }
    .product-price {
        width: 100%;
        margin: 0;
        margin-bottom: 4px;
    }
    .product-description, .product-price {
        float: left;
        display: inline-block;
        clear: none;
    }
    .product-image {
        width: 120px;
        height: 120px;
    }
}
/* iPad portrait */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

}

/* iPad landscape */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

}

/* smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    /* mobile menu */

    #mobile_nav_toggle {
        display: inline-block;
    }

    #content {padding-top: 0}
    #logo { margin: 15px 0px 5px 15px; width: 80px;}
    #slider {display: none}
    body,nav, #left-column {
        min-width: 90%;
        max-width: 100%;
    }
    #left-column {margin-bottom: 0}
    #right-column {
        margin-top: 0;
        width: 96%;
        margin-left: 2%;
        min-width: inherit;
    }
    .header-contacts {display: none}

    #header-promo {
        margin-left: 14px;
        margin-top: 22px;
        font-size: 0.8em;
    }
    .leftside_promo {display: none}
    .group-heading a {display: none}

    nav { margin: 0 5px; min-width: auto; width: 97%;text-align: center }
    nav a {
        display: inline-block;
        margin: 0;
        font-size: 0.9em;
    }

    #left-column {width: 98%; margin-top: 11px; transition: all 0.3 ease;-webkit-transition: all 0.3 ease;}
    #menu_controller {
        display: none;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 55px;}
    #menu_controller img {
        position: absolute;
        left: -38px;
        top: -2px
    }

    #left-column .accordion {display: none}
    #cart {
        float: left;
        margin: 0 0 15px 0;
        display: block;
        position: relative;
        clear: both;
        text-align: center;
        width: 100%;
    }
    .product { text-align: center; }
    .product-image {
        width: 82px;
        height: 82px;
    }
    .product-details {min-height: 135px; position: relative;}
    .product-ingredients-list {display: none}
    footer p {
        display: block;
        clear: both;
        margin-left: 15px;

    }
    #counters {margin-left: 15px}
    .phones a {display: block}

    .category-name {margin-bottom: 0;display: block}
    .small-link {display: inline-block;background: #ffffff}
    .horizontal-content {margin-top: 12px}

    .breadcrumbs {border-left: silver solid 1px; font-size: 0.8em; padding: 0}
    .breadcrumbs a {border-bottom: silver solid 1px;  display: inline-block;}
    .breadcrumbs span {
        margin: 8px;
        clear: both;
        display: block;
        font-weight: bold;
    }

    /* exclusive styles for actions page */
    .action {width: 85%}


    /**/


}