html {  background: black; }
a {color: white}

body {
    background: #0c0c0c;
    color: #f2f2f2;
    font-family: 'Play', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #fffdd5;
}

.btn-theme {
    background: #e84728;
    color: white;
    border-radius: 2px;
    border-color: darkred;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
    transition: all 0.2s ease ;
}
.btn-theme:hover {
    background: #c64025;
    color: white;
    border-color: darkred;
}

.color-white { color: white;}
.color-black, .color-black * { color: black;}
.color-yellow { color: yellow;}
.color-red, .color-red * {color: #e84728 }

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

.btn {
    white-space: normal;
}

.strong, .strong * {
    font-weight: bold;
}

.nopadding {
    margin: 0 !important;
    padding: 0 !important;
}

.dashed-delimeter {
    border-top: dashed white 1px;
    display: block;
}

.fullheight {
    min-height: 100vh;
}

.flexslider {
    margin: 1em 0 0 0 ;
}

.nav-pills>li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
    transition: all 0.2s ease ;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);

    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 1px black;
}

.nav-pills>li a:hover {
    background: #e84728;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #e84728;

}


#mobile_nav_toggle {
    position: fixed;
    background: #e84728;
    width: 36px;
    height: 30px;
    padding: 11px 12px 19px 12px;
    text-align: center;
    font-size: 1.5em;
    border-radius: 50%;
    bottom: 3%;
    right: 6%;
    box-shadow: 0 3px 5px rgba(0,0,0,0.36);
    z-index: 99;
    display: none;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease ;
    -ms-transition: all 0.6s ease ;
    -o-transition: all 0.6s ease ;
    transition: all 0.6s ease ;
}

#mobile_nav_toggle.hidden {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

#mobile_nav_container {
    position: fixed;
    z-index: 99;
    background: rgba(0, 0, 0, 0.87);
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: scroll;
    padding: 0;
    left: -100%;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in ;
    -ms-transition: all 0.6s ease-in ;
    -o-transition: all 0.6s ease-in ;
    transition: all 0.6s ease-in ;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    box-shadow: 0 8px 2px rgba(0,0,0,0.3);
}

#mobile_nav_container.active {
    left: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#mobile_nav_container .menu.items .item {
    width: 20.65%;
    float: left;
    border: rgba(255, 255, 255, 0.47) solid 1px;
    margin: 2% 2%;
    padding: 5% 4%;
    font-size: 0.81em;
    display: inline-block;
    word-break: break-word;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-transition: all 2.4s ease;
    -moz-transition:    all 2.4s ease ;
    -ms-transition:     all 2.4s ease ;
    -o-transition:      all 2.4s ease ;
    transition:         all 2.4s ease ;
    background: black;
}
#mobile_nav_container .menu.items .item:hover {
    z-index: 999;
}
#mobile_nav_container .menu.items .item:focus {
    -webkit-transform: scale(10.1);
    -moz-transform:    scale(10.1);
    -ms-transform:     scale(10.1);
    -o-transform:      scale(10.1);
    transform:         scale(10.1);
    filter: blur(4px);
    background: #e84728;
    z-index: 999;
}

#mobile_nav_container .toggler {
    position: absolute;
    left: 5%;
    top: 3%;
}

#mobile_nav_container .content .footer {
    background: #2b2b2b;
    clear: both;
    padding: 5%;
    margin-top: 50px;
    float: left;
    width: 90%;
    text-align: left;
}
#mobile_nav_container .content .footer p.h3 {font-size: 0.8em}

#mobile_nav_container .content .footer .nav {
    margin-left: 3%;
}
#mobile_nav_container .content .footer a {font-size: 1.2em; display: block; line-height: 1.72em }

#mobile_nav_container .float_cart {
    position: absolute;
    right: 5%;
    color: white;
    top: 2%;
    font-size: 1.3em;
}

.promo_link {
    display: block;
    font-size: 2em;
    text-align: center;
    padding: 70px 0;
    margin: 1em 0;
    background-position: center center;
    text-shadow: 0 1px 2px black,0 1px 20px black,0 1px 25px rgba(0,0,0,0.6);
}

.product-item .image {
    min-height: 270px;
    background: white;
    position: relative;
}

.product-item .image img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.product-card {
}

#footer {
    box-shadow: 0em 0em 4em rgba(232, 71, 40, 0.26);
    display: block;
    margin-top: 3em;
    z-index: 10;
    position: relative;
    background: #171717;
    padding: 2em 0 0 0;
}

header {
    background: #171717;
}

#nav {
    background: #000000;
    padding: 10px 0;
    box-shadow: 0em 0.2em 2em rgba(232, 71, 40, 0.2);
}

.breadcrumbs {
    display: block;
    padding: 8px 0 15px 0;
}

/**/

.product-item  {
    position: relative; 
    border: rgba(192, 192, 192, 0.25) solid 1px;
    margin-bottom: 2em;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease ;
    -ms-transition: all 0.7s ease ;
    -o-transition: all 0.7s ease ;
    transition: all 0.7s ease ;
}

.product-item:hover {
    background: rgba(161, 161, 161, 0.25);
    box-shadow: 0em 0.3em 2em rgba(232, 71, 40, 0.3);
}

.product-item .quickAddToCart {
    position: absolute;
    z-index: 9;
    right: 10px;
    bottom: 10px;
    border: #e84728 solid 3px;
    padding: 0px 13px 2px 13px;
    font-weight: bold;
    font-size: 28px;
    text-shadow: 0 1px 1px black;
    border-radius: 60px;
}

.product-item p.borderLeft {
    border-left: rgba(192, 192, 192, 0.25) solid 1px
}

/* smartphones */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    /* mobile menu */

    #mobile_nav_toggle {
        display: inline-block;
    }

    #menu_controller {
        display: none;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 55px;}
    #menu_controller img {
        position: absolute;
        left: -38px;
        top: -2px
    }



    /* exclusive styles for actions page */
    .action {width: 85%}


    /**/


}