.color-white { color: white;}
.color-black, .color-black * { color: black;}
.color-yellow { color: yellow;}
.color-red, .color-red * {color: #e84728 }

.mt-none {margin-top: 0}
.mb-none {margin-bottom: 0}

.mb-xlg {margin-bottom: 2em}
.mt-xlg {margin-top: 2em}

.mt-lg {margin-top: 1em}
.mb-lg {margin-bottom: 1em}

.mt-md {margin-top: 0.6em}
.mb-md {margin-bottom: 0.6em}

body {
    /*background-image: url(/img/promo_link/rolls.jpg);*/
}

#content {
    background: white;
}

#addProductPanel {
    position: absolute;
    z-index: 200;
    top: -340px;
    right: 120px;
    border: silver solid 1px;
    border-radius: 8px;
    background: white;
    max-height: 400px;
    width: 300px;

    padding: 8px 0px 0 14px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.211);
}

#addProductPanel .list {
    font-size: 0.9em;
    overflow-y: scroll;
    max-height: 350px;
    padding-right: 8px;
}
#addProductPanel .list .item {
    clear: both;
    float: left;
    width: 100%;
    line-height: 28px;
}
#addProductPanel .list .item .content .btn {
    float: right;
}

#addProductPanel .heading {
    margin-bottom: 5px;
}