#orders-container {
    overflow-y: scroll;
    max-height: 66vh;
}

#orders-container .item {
    border-bottom: silver solid 1px;
    border-left: transparent solid 5px;
    border-right: silver solid 1px;
    padding: 10px 12px 3px 12px;
}

#orders-container .item:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,ffffff+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}

[data-value="order_state"] {
font-weight: bold;
}

#orders-container .item.new, .order-new {
    border-left-color: green;
}
#orders-container .item.completed, .order-completed {
    border-left-color: #5a73c6;
}
#orders-container .item.cancelled, .order-cancelled {
    border-left-color: #c6341f;
}
#orders-container .item.processing, .order-processing {
    border-left-color: #e9cc6e;
}

#order-details {
    padding-top: 1.5em;
}